body {
    background-image: url('../images/bg.png');
    background-repeat: repeat-x;
}
h1 {
    color: #fff;
}
header {
    background-color: #fff;
}
.cookie-banner img {
    height: 18px;
}
.logo {
    height: auto;
    width: 100%;
    max-width: 180px;
}